.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
  transition: all 0.5s;
}

.owl-prev .owl-prev:hover, .owl-prev .owl-next:hover, .owl-next .owl-prev:hover, .owl-next .owl-next:hover {
  background-color: #fff;
}
.owl-prev .owl-theme .owl-nav [class*=owl-]:hover, .owl-next .owl-theme .owl-nav [class*=owl-]:hover {
  background-color: #fff;
}
.owl-prev span, .owl-next span {
  color: #007791;
  background-color: #fff;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 30%;
}

.owl-prev span {
  left: -25px;
}

.owl-next span {
  right: -25px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}

.myNavbar .myNavbar__left .navbar-brand {
  flex-grow: 1;
}
.myNavbar .myNavbar__left .navbar-brand img {
  width: 110px;
}
.myNavbar .myNavbar__left .navbar-brand .logo--brown {
  display: block;
}
.myNavbar .myNavbar__left .navbar-brand .logo--white {
  display: none;
}
.myNavbar .myNavbar__left .categories {
  flex-grow: 1;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}
.myNavbar .myNavbar__left .categories i {
  color: #a1a7b3;
}
.myNavbar .myNavbar__left .form-search {
  flex-grow: 8;
}
.myNavbar .myNavbar__left .form-search .input-group {
  background-color: #f2f3f5;
}
.myNavbar .myNavbar__left .form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #505763;
}
.myNavbar .myNavbar__left .form-search .input-group .form-control::placeholder {
  color: #505763;
}
.myNavbar .myNavbar__left .form-search .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-left-color: #dedfe0;
}
.myNavbar .myNavbar__left .form-search .input-group .form-control:focus + .input-group-text {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-right-color: #dedfe0;
}
.myNavbar .myNavbar__left .form-search .input-group .form-control:focus + .input-group-text:hover {
  background-color: #ec5252;
  color: #fff;
  cursor: pointer;
}
.myNavbar .myNavbar__left .form-search .input-group .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}
.myNavbar .myNavbar__left .form-search .input-group .input-group-text:hover {
  background-color: #ec5252;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.myNavbar .myNavbar__right .navbar-nav .nav-item:nth-of-type(1), .myNavbar .myNavbar__right .navbar-nav .nav-item:nth-of-type(2) {
  padding: 7px 5px;
  border-radius: 5px;
}
.myNavbar .myNavbar__right .navbar-nav .nav-item:nth-of-type(1):hover, .myNavbar .myNavbar__right .navbar-nav .nav-item:nth-of-type(2):hover {
  color: #505763;
  background-color: rgba(20, 23, 28, 0.05);
  cursor: pointer;
}
.myNavbar .myNavbar__right .navbar-nav .nav-item:nth-of-type(1) .nav-link, .myNavbar .myNavbar__right .navbar-nav .nav-item:nth-of-type(2) .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  white-space: nowrap;
}
.myNavbar .myNavbar__right .navbar-nav .nav-item {
  position: relative;
}
.myNavbar .myNavbar__right .navbar-nav .nav-item:hover .overlay {
  display: block;
}
.myNavbar .myNavbar__right .navbar-nav .nav-item .overlay {
  display: none;
  background-color: #fff;
  width: 330px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 0;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  z-index: 2;
}
.myNavbar .myNavbar__right .navbar-nav .nav-item .overlay::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -14px;
  right: 10%;
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.05);
}
.myNavbar .myNavbar__right .nav-item__cart {
  border-radius: 50%;
  color: #505763;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 35px;
}
.myNavbar .myNavbar__right .nav-item__cart:hover {
  color: #505763;
  background-color: rgba(20, 23, 28, 0.05);
  cursor: pointer;
}
.myNavbar .myNavbar__right .nav-item__cart .nav__cart {
  color: #505763;
  font-size: 20px;
}
.myNavbar .myNavbar__col {
  padding-left: 0;
}
@media screen and (max-width: 1200px) {
  .myNavbar .business, .myNavbar .instructor {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .myNavbar .myNavbar__left .form-search {
    display: none;
  }
  .myNavbar .myNavbar__left .categories i {
    display: none;
  }
  .myNavbar .myNavbar__left .categories span {
    display: none;
  }
  .myNavbar .myNavbar__right .navbar-nav .navbar__button .button {
    display: none;
  }
}

footer {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}
footer .footer__top {
  width: 90%;
  margin: 40px auto;
}
footer .footer__top .nav-t {
  height: 110px;
}
footer .footer__top .nav-t .nav-item {
  flex-basis: 25%;
}
footer .footer__top .nav-t .nav-item .nav-link {
  color: #007791;
  padding: 0;
}
footer .footer__top .nav-t .nav-item .nav-link.fw-bold {
  font-weight: 700;
}
footer .footer__top .buttun {
  text-align: right;
}
footer .footer__top .buttun .button-t {
  min-width: 160px;
  box-shadow: none;
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
}
footer .footer__top .buttun .button-t:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
  cursor: pointer;
}
footer .footer__top .buttun .button-t i {
  padding: 0 5px;
}
footer .footer__top .buttun .button-t::after {
  margin-left: 30%;
}
footer .footer__top .buttun .btn-group {
  display: block;
}
footer .footer__bottom {
  width: 90%;
  margin: 30px auto;
}
footer .footer__bottom .col-md-6:first-of-type {
  display: flex;
  align-items: center;
}
footer .footer__bottom .col-md-6:first-of-type img {
  width: 110px;
  margin-right: 10px;
}
footer .footer__bottom .col-md-6:first-of-type .logo--brown {
  display: inline-block;
}
footer .footer__bottom .col-md-6:first-of-type .logo--white {
  display: none;
}
footer .footer__bottom .col-md-6:last-of-type .nav {
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .footer__bottom .col-md-6:last-of-type .nav .nav-link {
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}
footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
}
footer hr:not([size]) {
  height: 0;
}
@media screen and (max-width: 768px) {
  footer .footer__top .buttun {
    text-align: left;
  }
  footer .footer__bottom .col-md-6:last-of-type .nav {
    justify-content: start;
  }
}

.cover {
  background-image: url(../../img/cover.jpg);
  height: 500px;
  position: relative;
}
.cover .cover__content {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  max-width: 500px;
}
.cover .cover__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.cover .cover__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
.cover .cover__content .cover__form .input-group {
  background-color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #505763;
  border: none;
}
.cover .cover__content .cover__form .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-text {
  background-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-text:hover {
  background-color: #ec5252;
  color: #fff;
  cursor: pointer;
}
.cover .cover__content .cover__form .input-group .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
  border-radius: 0;
  border: none;
}
.cover .cover__content .cover__form .input-group .input-group-text:hover {
  background-color: #ec5252;
  border-color: transparent;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .cover .cover__content {
    max-width: 400px;
  }
}

.intro {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
}
.intro .intro__content {
  padding: 20px;
}
.intro .intro__content .intro__items .intro__icon {
  font-size: 50px;
  color: #fff;
  margin-right: 25px;
}
.intro .intro__content .intro__items .intro__details p:first-of-type {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.intro .intro__content .intro__items .intro__details p:last-of-type {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
@media screen and (max-width: 1200px) {
  .intro .intro__content .intro__icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    display: none;
  }
}

.courses {
  margin: 25px 0;
}
.courses .courses__content {
  width: 90%;
  margin: 0 auto;
}
.courses .courses__content .row {
  margin-right: 0;
  margin-left: 0;
}
.courses .courses__content .col-xl-4 {
  background-color: rgba(20, 23, 28, 0.05);
}
.courses .courses__content .courses__left {
  padding: 0 2rem;
}
.courses .courses__content .courses__left h2 {
  color: #29303b;
  font-size: 19px;
  font-weight: normal;
}
.courses .courses__content .courses__left p {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}
.courses .courses__content #myTab {
  margin-bottom: 25px;
}
.courses .courses__content #myTab .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  border: none;
}
.courses .courses__content #myTab .nav-link.active {
  border: none;
  border-bottom: 5px solid #007791;
}
.courses .courses__content #myTab .nav-link.active:hover {
  border-bottom: 5px solid #007791;
}
.courses .courses__content #myTab .nav-link:hover {
  border: none;
  color: #007791;
  font-size: 15px;
  font-weight: normal;
}
@media screen and (max-width: 1350px) {
  .courses .courses__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
  }
}
@media screen and (max-width: 768px) {
  .courses .courses__content .courses__left {
    padding: 10px 0;
  }
}

.viewing {
  padding: 22px 0;
}
.viewing .viewing__content {
  width: 90%;
  margin: 0 auto;
}
.viewing .viewing__content h2 {
  font-size: 20px;
}
@media screen and (max-width: 1350px) {
  .viewing .viewing__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
  }
}

.banner {
  background: url(../../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
  background-blend-mode: overlay;
  height: 325px;
  text-align: center;
}
.banner .banner__content h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}
.banner .banner__content p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.banner .banner__content button {
  margin: 10px 0;
}
.banner .banner__content .col-6:first-of-type {
  text-align: right;
}
.banner .banner__content .col-6:last-of-type {
  text-align: left;
}

.categories .categories__content {
  width: 90%;
  margin: 0 auto;
  margin-top: 32px;
}
.categories .categories__content h2 {
  font-size: 24px;
}
.categories .categories__content .categories__item {
  padding: 15px;
  font-size: 18px;
  border: 1px solid rgba(20, 23, 28, 0.1);
  margin-bottom: 15px;
}
.categories .categories__content .categories__item:hover {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  cursor: pointer;
}

.students {
  padding: 32px 0;
}
.students .student__content {
  width: 90%;
  margin: 0 auto;
}
.students .student__content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.students .student__content .student__carousel .owl-dots {
  display: none;
}

.partners {
  background-color: #f7f8fa;
  padding: 20px 0;
}
.partners .partners__content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.partners .partners__content .partners__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .partners .partners__content {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .partners .partners__content {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .partners .partners__content {
    width: 60%;
  }
  .partners .partners__content .partners__img {
    flex-wrap: wrap;
  }
  .partners .partners__content .partners__img .partners__item--img {
    width: 50%;
    margin-bottom: 10px;
  }
}

.jobs {
  background-color: #f7f8fa;
}
.jobs .jobs__content .jobs__items {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
}
.jobs .jobs__content .jobs__items h2 {
  color: #505763;
  font-size: 19px;
  font-weight: 600;
}

.sidebar__mini {
  width: 400px;
  position: fixed;
  top: 25%;
  right: 0;
  background-color: #dedfe0;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.5s;
}
.sidebar__mini .sidebar__mini__btn {
  color: #29303b;
  background-color: #dedfe0;
  border: 1px solid #dedfe0;
  font-size: 24px;
  font-weight: normal;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  position: fixed;
  transform: translateX(-100%);
  transition: all 0.5s;
}
.sidebar__mini .sidebar__mini__content {
  width: 150px;
  padding: 20px;
  text-align: center;
}
.sidebar__mini .sidebar__mini__content h2 {
  font-size: 15px;
}
.sidebar__mini .sidebar__mini__content .switch {
  width: 50px;
  height: 25px;
  margin: 0 10px;
  position: relative;
}
.sidebar__mini .sidebar__mini__content .switch input {
  display: none;
}
.sidebar__mini .sidebar__mini__content .switch input:checked + .slider__circle::before {
  transform: translateX(22px);
}
.sidebar__mini .sidebar__mini__content .switch .slider__circle {
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 34px;
  cursor: pointer;
}
.sidebar__mini .sidebar__mini__content .switch .slider__circle::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: all 0.5s;
}
.sidebar__mini.is-opened {
  transform: translateX(60%);
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
  white-space: nowrap;
}
.button--white:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #505763;
  cursor: pointer;
}

.button--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
  white-space: nowrap;
}
.button--red:hover {
  color: #fff;
  background-color: #521822;
  border: 1px solid #521822;
  cursor: pointer;
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}
.button--white:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #505763;
  cursor: pointer;
}

.card {
  height: 275px;
}
.card .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}
.card .card-text {
  color: #686f7a;
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0;
}
.card .card__stars i {
  color: #F4C150;
  font-size: 12px;
  font-weight: 900;
}
.card .card__rate {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
}
.card .card__total {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}
.card .card__price {
  text-align: right;
  padding: 5px 0;
}
.card .card__price span:first-of-type {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}
.card .card__price span:last-of-type {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.card--feedback {
  height: 280px;
}
.card--feedback .card-body {
  padding: 2rem;
}
.card--feedback .card-body .card__top {
  display: flex;
  margin-bottom: 15px;
}
.card--feedback .card-body .card__top .card__avatar {
  margin-right: 15px;
}
.card--feedback .card-body .card__top .card__avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.card--feedback .card-body .card__top .card__name {
  margin-bottom: 0;
}
.card--feedback .card-body .card-text {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

body.darkMode {
  color: #9da9bb;
  background-color: #061325;
}

header {
  transition: all 0.5s;
}

.darkMode .sidebar__mini {
  background-color: #152e4d;
  color: #fff;
}
.darkMode .sidebar__mini__btn {
  color: #fff;
  background-color: #152e4d;
  border-color: #152e4d;
}
.darkMode .sidebar__mini__content .switch .slider__circle {
  background-color: #061325;
  box-shadow: 0 0 2px 3px #344050;
}

.darkMode header {
  background-color: #0e1c2f;
}
.darkMode header .myNavbar .myNavbar__left .navbar-brand .logo--brown {
  display: none;
}
.darkMode header .myNavbar .myNavbar__left .navbar-brand .logo--white {
  display: block;
}
.darkMode header .myNavbar .myNavbar__left .categories {
  color: #9da9bb;
}
.darkMode header .myNavbar .myNavbar__left .categories i {
  color: #d8e2ef;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group {
  background-color: #152e4d;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #d8e2ef;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group .form-control::placeholder {
  color: #d8e2ef;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group .form-control:focus {
  background-color: #132238;
  border-top-color: #344050;
  border-bottom-color: #344050;
  border-left-color: #344050;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group .form-control:focus + .input-group-text {
  background-color: #132238;
  border-top-color: #344050;
  border-bottom-color: #344050;
  border-right-color: #344050;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group .form-control:focus + .input-group-text:hover {
  background-color: #ec5252;
  color: #fff;
  cursor: pointer;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}
.darkMode header .myNavbar .myNavbar__left .form-search .input-group .input-group-text:hover {
  background-color: #ec5252;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item {
  border: 1px solid transparent;
}
.darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item .nav-link {
  color: #d8e2ef;
}
.darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item:hover {
  background-color: #152e4d;
  border: 1px solid #344050;
}
.darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item .overlay {
  background-color: #0e1c2f;
  border: 1px solid #344050;
}
.darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item .overlay::before {
  border-bottom: 10px solid #0e1c2f;
}
.darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item__cart .nav__cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
}
.darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item__cart .nav__cart:hover {
  background-color: #152e4d;
}
.darkMode header .myNavbar .myNavbar__right .navbar__button:hover {
  background-color: transparent;
}
.darkMode header .myNavbar .navbar-toggler {
  background-color: #d8e2ef;
}

.darkMode .button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
  white-space: nowrap;
}
.darkMode .button--white:hover {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
  cursor: pointer;
}
.darkMode .button--red:hover {
  color: #fff;
  background-color: #e63757;
  border: 1px solid #e63757;
  cursor: pointer;
}

.darkMode .courses .courses__content .courses__main {
  background-color: #132238;
}
.darkMode .courses .courses__content .courses__main .courses__left h2 {
  color: #d8e2ef;
}
.darkMode .courses .courses__content .courses__main .courses__left p {
  color: #9da9bb;
}
.darkMode .courses .courses__content #myTab {
  border-bottom: 1px solid #344050;
}
.darkMode .courses .courses__content #myTab .nav-item .nav-link {
  color: #9da9bb;
  background-color: transparent;
}
.darkMode .courses .courses__content #myTab .nav-item:hover .nav-link {
  color: #d8e2ef;
}

.darkMode .card {
  background-color: #152e4d;
  border: 1px solid #344050;
}
.darkMode .card .card-body .card-title {
  color: #d8e2ef;
}
.darkMode .card .card-body .card-text {
  color: #9da9bb;
}
.darkMode .card .card-body .card__stars .card__rate {
  color: #d8e2ef;
}
.darkMode .card .card-body .card__stars .card__total {
  color: #9da9bb;
}
.darkMode .card .card-body .card__price span:first-of-type {
  color: #9da9bb;
}
.darkMode .card .card-body .card__price span:last-of-type {
  color: #d8e2ef;
}
.darkMode .card--feedback {
  background-color: #0e1c2f;
}
.darkMode .card--feedback .card-body .card__top .card__name {
  color: #d8e2ef;
}

.darkMode .categories .categories__content h2 {
  color: #d8e2ef;
}
.darkMode .categories .categories__content .categories__item {
  background-color: #132238;
  border: 1px solid #344050;
  box-shadow: 0 3px 1px 0 #152e4d;
}
.darkMode .categories .categories__content .categories__item:hover {
  box-shadow: 0 0 3px 2px #152e4d;
}

.darkMode .students {
  background-color: #132238;
}
.darkMode .students .student__content h2 {
  color: #d8e2ef;
}

.darkMode .partners {
  background-color: #132238;
}

.darkMode .jobs {
  background-color: #132238;
}
.darkMode .jobs .jobs__content .jobs__items h2 {
  color: #d8e2ef;
}
.darkMode .jobs .jobs__content .border-end {
  border-right: 1px solid #344050 !important;
}

.darkMode footer .footer__top .nav-t .nav-item .nav-link {
  color: #d8e2ef;
}
.darkMode footer .footer__top .buttun .button-t {
  color: #d8e2ef;
  background-color: #152e4d;
  border-color: #344050;
}
.darkMode footer .footer__top .buttun .button-t:hover {
  background-color: #132238;
}
.darkMode footer .footer__top .buttun .dropdown-menu {
  background-color: #132238;
  border-color: #344050;
}
.darkMode footer .footer__top .buttun .dropdown-menu .dropdown-item {
  color: #d8e2ef;
}
.darkMode footer .footer__top .buttun .dropdown-menu .dropdown-item:hover {
  background-color: #152e4d;
}
.darkMode footer hr {
  background-color: #344050;
}
.darkMode footer .footer__bottom .col-md-6:first-of-type .logo--brown {
  display: none;
}
.darkMode footer .footer__bottom .col-md-6:first-of-type .logo--white {
  display: inline-block;
}
.darkMode footer .footer__bottom .col-md-6:first-of-type span {
  color: #9da9bb;
}
.darkMode footer .footer__bottom .col-md-6:last-of-type .nav .nav-link {
  color: #d8e2ef;
}/*# sourceMappingURL=main.css.map */