.darkMode{
    .button--white{
        @include styleButton($color-gray-0,$color-white-0,$color-black-light,$font-size-15,$font-weight-600,$padding-10 + 1,$padding-12);
        white-space: nowrap;
        &:hover{
            @include hoverButton($color-dark-5, $color-dark-0,$color-dark-2);
        }
    }
    .button--red{
        &:hover{
        @include hoverButton($color-white-0,$color-red-2,$color-red-2);
        }
    }
}

