.darkMode{
    .card{
        background-color: $color-dark-0;
        border: 1px solid $color-dark-2;
        .card-body{
            .card-title{
            color: $color-dark-5;
            }
            .card-text{
                color: $color-dark-3;
            }
            .card__stars{
                .card__rate{
                    color: $color-dark-5;
                }
                .card__total{
                    color: $color-dark-3;
                }
            }
            .card__price{
                span{
                    &:first-of-type{
                        color: $color-dark-3;
                    }
                    &:last-of-type{
                        color: $color-dark-5;
                    }
                }
            }
        }
    }
    .card--feedback{
        background-color: $color-dark-4;
        .card-body{
            .card__top{
                .card__name{
                    color: $color-dark-5;
                }
            }
        }
    }
}