.darkMode{
    .courses{
        .courses__content{
            .courses__main{
                background-color: $color-dark-6;
                .courses__left{
                    h2{
                        color: $color-dark-5;
                        
                    }
                    p{
                        color: $color-dark-3;
                    }
                }
            }
            #myTab{
                border-bottom: 1px solid $color-dark-2;
                .nav-item{
                    .nav-link{
                        color: $color-dark-3;
                        background-color: $color-transparent;
                    }
                    &:hover .nav-link{
                        color: $color-dark-5;
                    }
                }
            }
        }
    }
}