.darkMode{
    footer{
        .footer__top{
            .nav-t{
                .nav-item{
                    .nav-link{
                        color: $color-dark-5;
                    }
                }
            }
            .buttun{
                .button-t{
                    color: $color-dark-5;
                    background-color: $color-dark-0;
                    border-color: $color-dark-2;
                    &:hover{
                        background-color: $color-dark-6;
                    }
                }
                .dropdown-menu{
                    background-color: $color-dark-6;
                    border-color: $color-dark-2;
                    .dropdown-item{
                        color: $color-dark-5;
                        &:hover{
                            background-color: $color-dark-0;
                        }
                    }
                }
            }
        }
        hr{
            background-color: $color-dark-2;
        }
        .footer__bottom{
            .col-md-6:first-of-type{
                .logo--brown{
                    display: none;
                }
                .logo--white{
                    display: inline-block;
                }
                span{
                    color: $color-dark-3;
                }
            }
            .col-md-6:last-of-type{
                .nav{
                    .nav-link{
                        color: $color-dark-5;
                    }
                }
            }
        }
    }
}