.darkMode{
    header{
        background-color: $color-dark-4;
        .myNavbar{
            .myNavbar__left{
                .navbar-brand{
                    
                    .logo--brown{
                        display: none;
                    }
                    .logo--white{
                        display: block;
                    }
                }
                .categories{
                    color: $color-dark-3;
                    i{
                        color: $color-dark-5;
                    }
                }
                .form-search{
                    @include styleFormsearch($color-dark-0,$color-dark-6,$color-dark-2,$color-dark-5);
                }
            }
            .myNavbar__right{
                .navbar-nav{
                    .nav-item{
                        border: 1px solid transparent;
                        .nav-link{
                            color: $color-dark-5;
                        }
                        &:hover{
                            background-color: $color-dark-0;
                            border: 1px solid $color-dark-2;
                        }
                        .overlay{
                            background-color: $color-dark-4;
                            border: 1px solid $color-dark-2;
                            &::before{
                                border-bottom: 10px solid $color-dark-4;
                            }
                        }
                    }
                    .nav-item__cart{
                        .nav__cart{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            color: $color-white-0;
                            &:hover{
                                background-color: $color-dark-0;
                            }
                        }
                    }
                }
                .navbar__button{
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
            .navbar-toggler{
                background-color: $color-dark-5;
            }
        }
    }
}