.darkMode{
    .jobs{
        background-color: $color-dark-6;
        .jobs__content{
            .jobs__items{
                h2{
                    color: $color-dark-5;
                }
            }
            .border-end{
                border-right: 1px solid $color-dark-2 !important;
            }
        }
    }
}