.darkMode{
    .sidebar__mini{
        background-color: $color-dark-0;
        color: $color-white-0;
    }
    .sidebar__mini__btn{
        color: $color-white-0;
        background-color: $color-dark-0;
        border-color: $color-dark-0;
    }
    .sidebar__mini__content{
        .switch{
            .slider__circle{
                background-color: $color-dark-1;
                box-shadow: 0 0 2px 3px $color-dark-2;
            }
        }
    }
}