.button--white{
    @include styleButton($color-gray-0,$color-white-0,$color-black-light,$font-size-15,$font-weight-600,$padding-10 + 1,$padding-12);
    white-space: nowrap;
    &:hover{
        @include hoverButton($color-black-0, $color-transparent,$color-black-light);
    }
}
.button--red{
    @include styleButton($color-white-0,$color-red-0,$color-red-0,$font-size-15,$font-weight-600,$padding-10 + 1, $padding-12);
    white-space: nowrap;
    &:hover{
        @include hoverButton($color-white-0,$color-red-1,$color-red-1);
    }
}
.button--white{
    @include styleButton($color-gray-0,$color-white-0,$color-black-light,$font-size-15,$font-weight-600,$padding-10 + 1,$padding-12);
    &:hover{
        @include hoverButton($color-black-0, $color-transparent,$color-black-light);
    }
}