.card{
    height: 275px;
    .card-title{
        @include styleText($color-black-0,$font-size-15,$font-weight-600);
    }
    .card-text{
        @include styleText($color-gray-0,$font-size-13 - 1px,$font-weight-normal);
        margin: $margin-5 0;
    }
    .card__stars{
        i{
            @include styleText($color-yellow-0,$font-size-13 - 1px, $font-weight-900);
        }
    }
    .card__rate{
        @include styleText($color-gray-0,$font-size-13,$font-weight-600);
    }
    .card__total{
        @include styleText($color-gray-0,$font-size-13,$font-weight-normal);
    }
    .card__price{
        text-align: right;
        padding: 5px 0;
        span:first-of-type{
        @include styleText($color-gray-0,$font-size-13,$font-weight-normal);
        text-decoration: line-through;
        }
        span:last-of-type{
            @include styleText($color-black-0,$font-size-15,$font-weight-600);
        }
    }
}


.card--feedback{
    height: 280px;
    .card-body{
        padding: 2rem;
        .card__top{
            display: flex;
            margin-bottom: $margin-20 - 5px;
            .card__avatar{
                margin-right: $margin-20 - 5px;
                img{
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }
            .card__name{
                margin-bottom: 0;
            }
        }
        .card-text{
            @include styleText($color-black-0,$font-size-15,$font-weight-normal);
        }
    }
    
}
