.owl-prev, .owl-next{
    .owl-prev:hover, .owl-next:hover{
        background-color: #fff;
    }
    .owl-theme .owl-nav [class*=owl-]:hover{
        background-color: #fff;
    }
    span{
        color: $color-blue-0;
        background-color: $color-white-0;
        width: 44px;
        height: 44px;
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 30%;
    }
}
.owl-prev{
    span{
        left: -25px;
    }
}
.owl-next{
    span{
        right: -25px;
    }
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
}


