*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    font-size: $font-size-15;
    font-family: 'Open Sans', sans-serif;
    line-height: $line-height-0;
    color: $color-black-0;
    background-color: $color-white-0;
    transition: all .5s;
}