// khong co tham so 
// @mixin styleText{
//     color: white;
//     font-size: 13px;
// }

@mixin styleText($color, $font-size, $font-weight){
    color:$color;
    font-size: $font-size;
    font-weight: $font-weight;
}
@mixin styleButton($color,$background,$border,$font-size,$font-weight,$padding-y,$padding-x){
    color: $color;
    background-color: $background;
    border: 1px solid $border;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding-y $padding-x;
    cursor: pointer;
}
@mixin hoverButton($color-hover,$bg-hover,$border-hover){
    color: $color-hover;
    background-color: $bg-hover;
    border: 1px solid $border-hover;
    cursor: pointer;
}
@mixin Texthover($color-hover, $background-hover) {
    color: $color-hover;
    background-color: $background-hover;
    cursor: pointer;
}
@mixin styleFormsearch($bg-color,$bg-color-focus,$border-color,$color-text){
    .input-group{
        background-color: $bg-color;
    
         .form-control{
             background-color: $color-transparent;
             border-color: $color-transparent;
             box-shadow: none;
             color: $color-text;
             &::placeholder{
                color: $color-text;
             }
             &:focus{
                 background-color: $bg-color-focus;
                 border-top-color: $border-color;
                 border-bottom-color: $border-color;
                 border-left-color: $border-color;
             }
             // +
             &:focus + .input-group-text{
                 background-color: $bg-color-focus;
                 border-top-color: $border-color;
                 border-bottom-color: $border-color;
                 border-right-color: $border-color; 
             }
             &:focus + .input-group-text:hover{
             background-color: $color-red-0;
             color: $color-white-0;
             cursor: pointer;
             }
         }
         .input-group-text{
             background-color: $color-transparent;
             border-color: $color-transparent;
             color: $color-red-0;
             &:hover{
             background-color: $color-red-0;
             border-color: $color-transparent;
             color: $color-white-0;
             cursor: pointer;
             }
         }
        }
}
@mixin styleFormsearch2($bg-color,$bg-color-focus,$border-color){
    .input-group{
        background-color: $bg-color;
    
         .form-control{
             background-color: $color-transparent;
             border-color: $color-transparent;
             box-shadow: none;
             color: $color-black-light;
             border: none;
             &:focus{
                 background-color: $bg-color-focus;
                 border-top-color: $border-color;
                 border-bottom-color: $border-color;
                 border-left-color: $border-color;
             }
             // +
             &:focus + .input-group-text{
                 background-color: $bg-color-focus;
                 border-top-color: $border-color;
                 border-bottom-color: $border-color;
                 border-right-color: $border-color; 
             }
             &:focus + .input-group-text:hover{
             background-color: $color-red-0;
             color: $color-white-0;
             cursor: pointer;
             }
         }
         .input-group-text{
             background-color: $color-transparent;
             border-color: $color-transparent;
             color: $color-red-0;
             border-radius: 0;
             border: none;
             &:hover{
             background-color: $color-red-0;
             border-color: $color-transparent;
             color: $color-white-0;
             border-radius: 0;
             cursor: pointer;
             }
         }
        }
}
@mixin FontIcon($font-size, $color-icon){
    font-size: $font-size;
    color: $color-icon;
}


// RESPONSIVE
@mixin responsive ($screen){
    @if map-has-key($map:$break-point , $key:$screen){
        $value: map-get($map:$break-point , $key:$screen);
        @media screen and (max-width: $value){
            @content;
        }
    }
    @else{
        @warn "`{$screen}` is not valid";
    }
}