// Color
$color-black-0: #29303b;
$color-black-1: rgba(20, 23, 28, 0.1);
$color-white-0: #fff;
$color-white-2: #dedfe0;
$color-black-light: #505763;
$color-white-cream: #f2f3f5;
$color-red-0: #ec5252;
$color-red-1: #521822;
$color-red-2: #e63757;
$color-gray-0: #686f7a;
$color-transparent: transparent;
$color-gray-1: rgba(20 ,23 ,28 , 0.05);
$color-gray-2: #dee2e6;
$color-gray-3: #a1a7b3;
$color-gray-4: #f7f8fa;
$color-gray-5: rgba(20, 23, 28, 0.25);
$color-gray-6: #ccc;
$color-blue-0: #007791;
$color-blue-1: #76c5d6;
$color-yellow-0: #F4C150;
$color-purple-0: #6e1a52;
// DARK THEME
$color-dark-0: #152e4d;
$color-dark-1: #061325;
$color-dark-2: #344050;
$color-dark-3: #9da9bb;
$color-dark-4: #0e1c2f;
$color-dark-5: #d8e2ef;
$color-dark-6: #132238;
// Font size
$font-size-13: 13px;
$font-size-15: 15px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-36: 36px;
$font-size-40: 40px;
// Font weight
$font-weight-normal: normal;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-900: 900;
// Line height
$line-height-0: 1.43;
// margin
$margin-5: 5px;
$margin-20: 20px;
$margin-25: 25px;
$margin-32: 32px;
// padding
$padding-10: 10px;
$padding-15: 15px;
$padding-12: 12px;
$padding-20: 20px;
$padding-32: 32px;
// border-radius
$border-radius: 2px;
$border-radius-34: 34px;
// break points
$break-point:(
    'extra': 1350px,
    'extra-large':1200px,
    'large': 992px,
    'medium': 768px,
    'small' : 576px,
)