.banner{
    // background: color url() position/bg-size bg-repeat
    background: url(../../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat, linear-gradient(61deg,$color-purple-0,$color-blue-1 41%);
    background-blend-mode: overlay;
    height: 325px;
    text-align: center;
    .banner__content{
        h2{
            @include styleText($color-white-0,$font-size-36,$font-weight-normal);
        }
        p{
            @include styleText($color-white-0,$font-size-15,$font-weight-normal);
        }
        button{
            margin: $margin-5 + 5px 0;
        }
        .col-6:first-of-type{
            text-align: right;
        }
        .col-6:last-of-type{
            text-align: left;
        }
    }
}