.categories{
    .categories__content{
        width: 90%;
        margin: 0 auto;
        margin-top: $margin-32;
        h2{
            font-size: $font-size-24;
        }
        .categories__item{
            padding: $padding-15;
            font-size: $font-size-18;
            border: 1px solid $color-black-1;
            margin-bottom: $margin-20 - 5px;
            &:hover{
                box-shadow: 0 0 1px 1px $color-black-1, 0 3px 1px 0 $color-black-1;
                cursor: pointer;
            }
        }
    }
}