.courses{
    margin: $margin-25 0;
    .courses__content{
        width: 90%;
        margin: 0 auto;
        .row{
            margin-right: 0;
            margin-left: 0;
        }
        .col-xl-4{
            background-color: $color-gray-1;
        }
        .courses__left{
            padding: 0 2rem;
            h2{
                @include styleText($color-black-0,$font-size-18 + 1px,$font-weight-normal);
            }
            p{
                @include styleText($color-black-0,$font-size-15,$font-weight-normal);
            }
        }
        #myTab{
            margin-bottom: $margin-25;
            .nav-link{
                @include styleText($color-black-0,$font-size-15,$font-weight-normal);
                border: none;
                &.active{
                    border: none;
                    border-bottom: 5px solid $color-blue-0;
                }
                &.active:hover{
                    border-bottom: 5px solid $color-blue-0;
                }
                &:hover{
                    border: none;
                    @include styleText($color-blue-0,$font-size-15,$font-weight-normal);
                }
            }
        }
    }
   @include responsive("extra"){
    .courses__content{
        .card{
            .card-body{
                .card-title{
                    @include styleText($color-black-0,$font-size-13,$font-weight-600);
                    
                }
            }
        }
    }
   }
   @include responsive("medium"){
    .courses__content{
        .courses__left{
            padding: $padding-10 0;
        }
    }
   }
}