
.cover{
    background-image: url(../../img/cover.jpg);
    @extend %bgimg;
    height: 500px;
    position: relative;
    .cover__content{
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translateY(-50%);
        max-width: 500px;
        h1{
            @include styleText($color-white-0,$font-size-40,$font-weight-600);
        }
        p{
            @include styleText($color-white-0,$font-size-18,$font-weight-normal);
        }
        .cover__form{
            @include styleFormsearch2($color-white-0,$color-white-0,$color-white-0);
        }
    }
    @include responsive("small"){
        .cover__content{
            max-width: 400px;
        }
    }
}