footer{
    @include styleText($color-gray-0,$font-size-13,$font-weight-normal);
    .footer__top{
        width: 90%;
        margin: 40px auto;
        .nav-t{
            height: 110px;
            .nav-item{
                flex-basis: 25%;
                .nav-link{
                    color: $color-blue-0;
                    padding: 0;
                    &.fw-bold{
                        font-weight: $font-weight-700;
                    }
                }
            }
        }
        .buttun{
            text-align: right;
            .button-t{
                min-width: 160px;
                box-shadow: none;
                color: #686f7a;
                background-color: #fff;
                border: 1px solid #505763;
                font-size: 13px;
                font-weight: 600;
                padding: 6px 10px;
                cursor: pointer;
                &:hover{
                    @include hoverButton($color-black-0,$color-transparent,$color-black-0);
                }
                i{
                    padding: 0 5px;
                }
                &::after{
                    margin-left: 30%;
                }
            }
            .btn-group{
                display: block;
            }
        }
    }
    .footer__bottom{
        width: 90%;
        margin: 30px auto;
        .col-md-6:first-of-type{
            display: flex;
            align-items: center;
            img{
                width: 110px;
                margin-right: 10px;
            }
            .logo--brown{
                display: inline-block;
            }
            .logo--white{
                display: none;
            }
        }
        .col-md-6:last-of-type{
            .nav{
                display: flex;
                align-items: center;
                justify-content: end;
                .nav-link{
                    @include styleText($color-blue-0,$font-size-13,$font-weight-normal);
                }
            }
        }
    }
    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
        height: 0;
    }
    hr:not([size]){
        height: 0;
    }
    @include responsive("medium"){
        .footer__top{
            .buttun{
                text-align: left;
            }
        }
        .footer__bottom{
            .col-md-6:last-of-type{
                .nav{
                    justify-content: start;
                }
            }
        }
    }
}