// css
// .myNavbar .myNavbar__left{}

.myNavbar{
    .myNavbar__left{
        .navbar-brand{
            flex-grow: 1;
            img{
                width: 110px;
            }
            .logo--brown{
                display: block;
            }
            .logo--white{
                display: none;
            }
        }
        
        .categories{
            flex-grow: 1;
            @include styleText($color-black-light, $font-size-13, $font-weight-normal);
            cursor: pointer;
            i{
                color: $color-gray-3;
            }
        }
        .form-search{
        
           flex-grow: 8;
           @include styleFormsearch($color-white-cream,$color-white-0,$color-white-2,$color-black-light);
        //    .input-group{
        //    background-color: $color-white-cream;
       
        //     .form-control{
        //         background-color: $color-transparent;
        //         border-color: $color-transparent;
        //         box-shadow: none;
        //         color: $color-black-light;
        //         &:focus{
        //             background-color: $color-white-0;
        //             border-top-color: $color-white-2;
        //             border-bottom-color: $color-white-2;
        //             border-left-color: $color-white-2;
        //         }
        //         // +
        //         &:focus + .input-group-text{
        //             background-color: $color-white-0;
        //             border-top-color: $color-white-2;
        //             border-bottom-color: $color-white-2;
        //             border-right-color: $color-white-2; 
        //         }
        //         &:focus + .input-group-text:hover{
        //         background-color: $color-red-0;
        //         color: $color-white-0;
        //         cursor: pointer;
        //         }
        //     }
        //     .input-group-text{
        //         background-color: $color-transparent;
        //         border-color: $color-transparent;
        //         color: $color-red-0;
        //         &:hover{
        //         background-color: $color-red-0;
        //         border-color: $color-transparent;
        //         color: $color-white-0;
        //         cursor: pointer;
        //         }
        //     }
        //    }
        }
    }
    .myNavbar__right{
        .navbar-nav{
            .nav-item:nth-of-type(1), .nav-item:nth-of-type(2){
                padding: $padding-10 - 3px $padding-10 - 5px;
                border-radius: 5px;
                &:hover{
                    @include Texthover($color-black-light,$color-gray-1);
                }
                .nav-link{
                    @include styleText($color-black-light,$font-size-13,$font-weight-normal);
                    white-space: nowrap;
                }
                
            }
            .nav-item{
                position: relative;
                &:hover{
                    .overlay{
                        display: block;
                    }
                }
                .overlay{
                    display: none;
                    background-color: $color-white-0;
                    width: 330px;
                    padding: $padding-20;
                    text-align: center;
                    position: absolute;
                    top: 60px;
                    right: 0;
                    border-top: 1px solid $color-gray-1;
                    box-shadow: 0 4px 16px $color-gray-5;
                    z-index: 2;
                    &::before{
                        content: "";
                        display: block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        border-left:10px solid transparent;
                        border-right:10px solid transparent;
                        border-bottom:10px solid $color-white-0;
                        top: -14px;
                        right: 10%;
                        box-shadow: 0 4px 16px $color-gray-1;
                    }
                }
            }
        }
        
        .nav-item__cart{
            border-radius: 50%;
            color: $color-black-light;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 35px;
            &:hover{
                @include Texthover($color-black-light,$color-gray-1);
            }
            .nav__cart{
                color: $color-black-light;
                font-size: $font-size-18 + 2px;
            }
        }
    }
    .myNavbar__col{
        padding-left: 0;
    }

    @include responsive("extra-large"){
        .business,.instructor{
            display: none;
        }
    }

    @include responsive("medium"){
        .myNavbar__left{
            .form-search{
                display: none;
            }
            .categories{
                i{
                    display: none;
                }
                span{
                    display: none;
                }
            }
        }
        .myNavbar__right{
            .navbar-nav{
                .navbar__button{
                    .button{
                        display: none;
                    }
                }
            }
        }
    }

}