.intro{
    background: linear-gradient(-45deg,$color-red-0,$color-purple-0);
    .intro__content{
        padding: $padding-20;
        .intro__items{
            .intro__icon{
                @include FontIcon($font-size-40 + 10px, $color-white-0);
                margin-right: $margin-25;
            }
            .intro__details{
                p:first-of-type{
                    @include styleText($color-white-0,$font-size-15 + 2px,$font-weight-700);
                }
                p:last-of-type{
                    @include styleText($color-white-0,$font-size-15,$font-weight-normal);
                }
            }
        }
    }
    @include responsive("extra-large"){
        .intro__content{
            .intro__icon{
                display: none;
            }
        }
    }
    @include responsive("medium"){
            display: none;
    }
}