.jobs{
    background-color: $color-gray-4;
    .jobs__content{
        .jobs__items{
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
            padding: $padding-20;
            h2{
                @include styleText($color-black-light,$font-size-18 + 1px, $font-weight-600);
            }
        }
    }
}