.partners{
    background-color: $color-gray-4;
    padding: 20px 0;
    .partners__content{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        .partners__img{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    // max width
    @include responsive("extra-large"){
        .partners__content{
            width: 80%;
        }
    }
    @include responsive("large"){
        .partners__content{
            width: 90%;
        }
    }
    @include responsive("medium"){
        .partners__content{
            width: 60%;
            .partners__img{
                flex-wrap: wrap;
                .partners__item--img{
                    width: 50%;
                    margin-bottom: $margin-5 + 5px;
                }
            }
        }
        
      
    }
}