.sidebar__mini{
    width: 400px;
    position: fixed;
    top: 25%;
    right: 0;
    background-color: $color-white-2;
    z-index: 10;
    transform: translateX(100%);
    transition: all .5s;
    .sidebar__mini__btn{
        @include styleButton($color-black-0,$color-white-2,$color-white-2,$font-size-24,$font-weight-normal,$padding-10 - 5px,$padding-20);
        border-radius: 8px 0 0 8px;
        position: fixed;
        transform: translateX(-100%);
        transition: all .5s;
    }
    .sidebar__mini__content{
        width: 150px;
        padding: $padding-20;
        text-align: center;
        h2{
            font-size: $font-size-15;
        }
        .switch{
            width: 50px;
            height: 25px;
            margin: 0 $margin-5 + 5px;
            position: relative;
            input{
                display: none;
                &:checked + .slider__circle{
                    &::before{
                        transform: translateX(22px);
                    }
                }
            }
            .slider__circle{
                background-color: $color-gray-6;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                border-radius: $border-radius-34;
                cursor: pointer;
                &::before{
                    content: '';
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    border-radius: 50%;
                    background-color: $color-white-0;
                    position: absolute;
                    bottom: 4px;
                    left: 4px;
                    transition: all .5s;
                }
            }
        }
    }
    &.is-opened{
        transform: translateX(60%);
    }
}