.students{
    padding: $padding-32 0;
    .student__content{
        width: 90%;
        margin: 0 auto;
        h2{
            font-size: $font-size-24;
            margin-bottom: $margin-20;
        }
        .student__carousel{
            .owl-dots{
                display: none;
            }
        }
    }
}