.viewing{
    padding: 22px 0;
    .viewing__content{
        width: 90%;
        margin: 0 auto;
        h2{
            font-size: $font-size-18 + 2px;
        }
    }
    @include responsive("extra"){
        .viewing__content{
            .card{
                .card-body{
                    .card-title{
                        @include styleText($color-black-0,$font-size-13,$font-weight-600);
                        
                    }
                }
            }
        }
    }
}